input {
    padding: 12px 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 18px;
    min-height: 10px;
    min-width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  div.filter-video{
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #1C5476;
  }